{% extends 'base.html' %}
{% block title %}Thank you {% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-header"></div>
                    <div class="card-body">
                    <p><h4 class="text-center">Thank you for contacting me! I will come back to you as soon as
                    possible!</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}